[submodule "themes/halve-z"]
	path = themes/halve-z
	url = https://github.com/charlesrocket/halve-z
[submodule "ThirdParty/MisraStdC"]
	path = ThirdParty/MisraStdC
	url = git@github.com:brightprogrammer/MisraStdC.git
